figcaption.figure-caption {
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid black;
  text-align: center;
  margin-bottom: 30px;
  background-color: #33333315;
}

.intro-block {
  padding: 100px 15px 0px;
  color: #fff;
}

span.text-muted {
  color: black;
}

.navbar {
  color: white;
  padding: 10px;
  background-color: #003366 !important;
  height: 67px;
}

.navbar-toggle:hover {
  background-color: #003366 !important;
}

.navbar-toggle::after {
  background-color: #003366 !important;
}

.navbar-collapse {
  background-color: #003366;
}

.navbar-inverse .navbar-toggle {
  border-color: #fff !important;
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: #ffffff18 !important;
}

a {
  color: #fff !important;
  padding: 0 15px;
  font-size: 17px;
  text-decoration: none !important;
  position: relative;
}

.navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.3s ease;
}

a:hover::after {
  width: 100%;
}

.navbar ul li {
  display: inline;
  margin: 0 1rem;
}

.navbar ul li a {
  color: #fff;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 2rem;
}

h2 {
  font-family: "Roboto Condensed", sans-serif !important;

  text-transform: uppercase;
}

span.text-muted {
  font-family: "Bebas Neue", sans-serif;
  font-size: 80px;
}

p.lead {
  font-family: "Roboto Condensed", sans-serif;
  margin-top: 30px;
  font-size: 23px;
  color: black;
  text-align: justify;
}

div.contaiener.padded {
  background-color: #555 !important;
}

div.container {
  margin-bottom: 50px;
}

footer {
  background-color: #003366;
  color: #fff;
  text-align: center;
  padding: 1.1rem;
  position: relative;
  bottom: 0;
  width: 100%;
}

::-webkit-scrollbar {
  width: 5px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #003366;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 6px;
}
